*{
    margin: 0;
}
body{
    background-color: white;
}
nav.hed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}
nav.hed ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 18%;
}
nav.hed ul li a{
    text-decoration: none;
    color: black;
}
nav.hed ul li a:hover{
    color: red;
}
.c{
    background-color: gray;
    border-radius: 10px;
    width: 9%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18%;
}
div.ked{
    background-image: url(../img/photo-1690983324515-d0faf73de6ca.avif);
    width: 100%;
    height: 380px;
    background-size: cover;
    background-position: right;
}
div.j{
    
    width: 50%;
    height: 100%;
}
p{
    margin: 0 ;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    
}
h2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
    color: black;
}
p{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 250%
}
div.e{
    background-color: black;
    border-radius: 10px;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
    margin-top: 20%;
    font-weight: bold;
    color: white;
}
h3{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5%;
}
div.header{
    width: 100%;
    height: 500px;
    background-color: aqua;
    margin-top: 50px;
}
h4{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 4px;
    font-size: 50px;
}
.y{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(../img/images__5_-removebg-preview.png);

}
.k{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 65%;
    height: 100%;
    gap: 20px;
    
    
}

div.l ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
.ter{
    background-color: black;
    width: 100%;
    height: 500px;
    background-image: url(../img/photo-1690983324515-d0faf73de6ca.avif);
}
div.i{

    width: 45%;
    height: 500px;
}
.n{
    background-color: red;
    border-radius: 10px;
    width: 12%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-top: 35%;
    color: white;
    font-weight: bold;
}
h5{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
div.end{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
div.end ul ui{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    
}
div.end ul ui :hover{
    color: red;
}
div.end ul ui a{
    text-decoration: none;
    color: black;
}


